In [1]:
import numpy as np 
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from collections import Counter
import warnings
warnings.filterwarnings('ignore') 
import json

In [2]:
import json
data = [json.loads(line) for line in open('scout_car.json', 'r')]

In [3]:
cars = pd.DataFrame(data)

In [4]:
df = cars.copy()

In [5]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,None,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,None,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,None,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,None,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,None,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df["Full Service"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7 l/100 km (city), \n, 4.5 l/100 km (country), \n]         1
[\n, \n, \n, 4.7 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n164 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n, 6 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]         1
Name: Full Service, Length: 123, dtype: int64

In [7]:
df["Non-smoking Vehicle"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, Length: 94, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      object
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: int64(1), object(53)
memory usage: 6.6+ MB

Elimizde ki veri bir 2. el otomobil sitesinden indrilmiş 54 sütün 15919 satırdan oluşuyor. Datamız internet sitesine ilan\n verilen aracların marka, model, renk, km bilgisi, kasa tipi, yakıt türü, kısa bir açıklama ve otomobille alakalı bir çok\n veriyi barındırıyor. 

*Yol Haritası*

    1-Veri kısa bir incelemeden sonra verinin internet sitesinden çekildiği halde elimize geldiği anlaşılıyor. öncelikle
bir çok  satırın liste içerisinde kirli bir şekilde geldiği görülüyor. Öncelikle ihtiyaç duymayacağımız sütünlar drop metodu ile düşürülmeli.

    2- Sütünlar üzerinde işlem yapılası için hazır hale getirilmeli. nan değerleri imkanı varsa fillna yöntemleri ile doldurulmalı. Daha sonra silicing metodları ile veri temizlenmeli.
    
    3- Sütünların veri tipleri kontrol edilmeli ve ihtiyaca gerekli değişiklikler yapılmalı.
    
    4-

**İhtiyaç olmayan sütünları düşürelim**

kW sütünu tamamen nan değerleden oluştuğundan drop edilebilir.
null sütünun her bir satırı içi boş listelere sahip. düşülebilir.
url sütünü rak oluşturmayacağından düşürülebilir.

In [9]:
df.null.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [10]:
df.shape

(15919, 54)

In [11]:
df.drop(["kW", "null", "url", "Previous Owners", "Body","First Registration", "Body Color Original",
        "Other Fuel Types", "Electricity consumption", "Emission Label", "Non-smoking Vehicle", "Last Service Date",
        "Last Timing Belt Service Date", "Available from", "CO2 Emission", "Model Code", "Weight", "Availability", "Full Service",
            ], inplace = True, axis = 1)
###Non-smoking Vehicle sütünu anlamsız verilerden oluşuyor..
#prev_owner daha temiz olduğundan Previous Owners sütünu drop ediyoruz..
##registration ve first_registiration aynı bilgileri içeriyor.
##body_type ve Body sütünu aynı bilgileri içeriyor. Body sütünunu düşüyoruz..
##"Other Fuel Types"sütünunda veri yok düşülebilir..
##Electricity consumption sütünunda 137 anlamsız değer var düşülebilir..
##emilsiyon label 11 bin nan değer var. emilsiyon class sütünu daha temiz..
##CO2 Emission co2 emilsion değerini gram cinsi ile veriyor. emilsiyon class sütünu daha temiz..
##Last Service Date 15 bin nan değer 
## Availability 15 bin 200 nan değer var
##Last Timing Belt Service Date 15 900 nan değer var
## Available from sadece 15647 tane nan değer var. olan veri sadece 2019 da ait yakllaşık 200 tarih. 
##model code
##Weight sütünuda çok fazla nan değer var 
###Availability sütünunda sadece 635 değer var düşülebilir..
##Full Service sütünu anlamsız değerleden oluşuyor..

In [12]:
df.shape

(15919, 35)

In [13]:
df = df.rename(columns={'\nComfort & Convenience\n':'Comfort & Convenience', "\nEntertainment & Media\n" : "Entertainment & Media",
                  "\nExtras\n" : "Extras", "\nSafety & Security\n" : "Safety & Security"})

In [14]:
df.Type

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   make_model             15919 non-null  object
 1   short_description      15873 non-null  object
 2   body_type              15859 non-null  object
 3   price                  15919 non-null  int64
 4   vat                    11406 non-null  object
 5   km                     15919 non-null  object
 6   registration           15919 non-null  object
 7   prev_owner             9091 non-null   object
 8   hp                     15919 non-null  object
 9   Type                   15917 non-null  object
 10  Next Inspection        3535 non-null   object
 11  Inspection new         3932 non-null   object
 12  Warranty               10499 non-null  object
 13  Make                   15919 non-null  object
 14  Model                  15919 non-null  object
 15  Offer Number           12744 non-null  object
 16  Body Color             15322 non-null  object
 17  Paint Type             10147 non-null  object
 18  Upholstery             12199 non-null  object
 19  Nr. of Doors           15707 non-null  object
 20  Nr. of Seats           14942 non-null  object
 21  Gearing Type           15919 non-null  object
 22  Displacement           15423 non-null  object
 23  Cylinders              10239 non-null  object
 24  Drive chain            9061 non-null   object
 25  Fuel                   15919 non-null  object
 26  Consumption            14013 non-null  object
 27  Emission Class         12898 non-null  object
 28  Comfort & Convenience  14999 non-null  object
 29  Entertainment & Media  14545 non-null  object
 30  Extras                 12957 non-null  object
 31  Safety & Security      14937 non-null  object
 32  description            15919 non-null  object
 33  Gears                  11207 non-null  object
 34  Country version        7586 non-null   object
dtypes: int64(1), object(34)
memory usage: 4.3+ MB

In [16]:
##sütünlarını düştükten sonraki sütun sayımız artık 35..

**Type**

In [17]:
df.Type.head()###type sütünunda yakıt türü bilgisibulunmakta. Fuel sütünu yakıt türü bilgisini sakladığından dolayı type sütünündaki yakıt türü bilgisi düşülebilir.

0    [, Used, , Diesel (Particulate Filter)]
1                       [, Used, , Gasoline]
2    [, Used, , Diesel (Particulate Filter)]
3    [, Used, , Diesel (Particulate Filter)]
4    [, Used, , Diesel (Particulate Filter)]
Name: Type, dtype: object

In [18]:
df.Type.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, Pre-registered, , CNG]                                                                                                  1
[, Used, , Others (Particulate Filter)]                                                                                    1
[, New, , Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Pre-registered, , Super E10 95 (Particulate Filter)]                                                                    1
[, Employee's car, , Super E10 95 (Particulate Filter)]                                                                    1
Name: Type, Length: 170, dtype: int64

In [19]:
df.Type.isnull().sum()

2

In [20]:
###Type sütünunda 2 tane nan değer var..
df.Type = df.Type.fillna(method="ffill")

In [21]:
df.Type[10000][3]

'Super 95'

In [22]:
for i in range(len(df.Type)):
    if len(df.Type[i]) > 1:
        df.Type[i] = df.Type[i][1]
    else:
        df.Type[i] = df.Type[i]

In [23]:
df.Type.value_counts(dropna = False)

Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: Type, dtype: int64

In [24]:
###Type sütünü başarı ile temizlendi

**body_type**

In [25]:
df.body_type.value_counts(dropna = False)### 60 tane nan değerimiz var

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [26]:
df.body_type.fillna(method = "ffill", inplace = True)

In [27]:
df.body_type.value_counts(dropna = False)##nan değerler başarılı şekilde dolduruldu...

Sedans           7922
Station wagon    3563
Compact          3161
Van               800
Other             292
Transporter        91
Off-Road           57
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [28]:
###body_typesütünu düzeltildi...

**Body Color sütünu**

In [29]:
df["Body Color"].value_counts( dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [30]:
##body color sütününda 597 nan değer var bunları fill na metodu ile dolduralım..

In [31]:
df["Body Color"] = df["Body Color"].fillna(method="bfill")

In [32]:
df["Body Color"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3888
[\n, Grey, \n]      3638
[\n, White, \n]     3540
[\n, Silver, \n]    1687
[\n, Blue, \n]      1524
[\n, Red, \n]        989
[\n, Brown, \n]      299
[\n, Green, \n]      163
[\n, Beige, \n]      108
[\n, Yellow, \n]      53
[\n, Violet, \n]      18
[\n, Bronze, \n]       7
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [33]:
for i in range(len(df["Body Color"])):
    df["Body Color"][i] = df["Body Color"][i][1]

In [34]:
df["Body Color"].value_counts(dropna = False )

Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [35]:
##BodyColor sütünu başarılı bir şekilde temizlendi.

**Next inspection**

In [36]:
for i in range(250):  
    print(df["Next Inspection"][i])

['\n06/2021\n', '\n99 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
nan
['\n02/2020\n', '\n97 g CO2/km (comb)\n']
nan
nan
nan
['\n09/2019\n', '\n112 g CO2/km (comb)\n']
nan
['\n10/2019\n', '\n99 g CO2/km (comb)\n']
['\n04/2020\n', '\n97 g CO2/km (comb)\n']
nan
nan

07/2020

nan
nan
nan
['\n12/2019\n', '\n112 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
nan
nan
['\n05/2019\n', '\n95 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
['\n07/2019\n', '\n97 g CO2/km (comb)\n']
['\n10/2019\n', '\n97 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
['\n02/2021\n', '\n94 g CO2/km (comb)\n']
['\n06/2019\n', '\n99 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
['\n06/2019\n', '\n97 g CO2/km (comb)\n']
nan
nan
nan
['\n05/2020\n', '\n102 g CO2/km (comb)\n']
['\n11/2019\n', '\n97 g CO2/km (comb)\n']
['\n06/2021\n', '\n102 g CO2/km (comb)\n']
['\n12/2019\n', '\n99 g CO2/km (comb)\n']
nan
nan
nan
nan
['\n06/2021\n', '\n102 g CO2/km (comb)\n']
nan

11/2020

nan
nan
nan
['\n09/2021\n', '\n104 g CO2/km (comb)\n']
nan
['\n03/2020\n', '\n117 g CO2/km (comb)\n']
nan
nan
['\n06/2021\n', '\n104 g CO2/km (comb)\n']
nan
['\n04/2021\n', '\n102 g CO2/km (comb)\n']
['\n04/2019\n', '\n123 g CO2/km (comb)\n']
nan
nan
nan
nan
['\n07/2021\n', '\n102 g CO2/km (comb)\n']
nan
['\n03/2020\n', '\n108 g CO2/km (comb)\n']
nan
nan
nan
['\n05/2020\n', '\n117 g CO2/km (comb)\n']
['\n04/2021\n', '\n121 g CO2/km (comb)\n']
['\n07/2019\n', '\n112 g CO2/km (comb)\n']
['\n02/2021\n', '\n104 g CO2/km (comb)\n']
['\n04/2021\n', '\n107 g CO2/km (comb)\n']
['\n02/2021\n', '\n112 g CO2/km (comb)\n']

01/2021

nan
nan
nan
nan
nan
nan
nan
['\n05/2022\n', '\n105 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['\n06/2021\n', '\n112 g CO2/km (comb)\n']
nan
['\n07/2021\n', '\n104 g CO2/km (comb)\n']
nan
['\n09/2021\n', '\n102 g CO2/km (comb)\n']
nan
['\n04/2020\n', '\n97 g CO2/km (comb)\n']
['\n05/2019\n', '\n4 (Green)\n']
['\n06/2020\n', '\n102 g CO2/km (comb)\n']
['\n01/2019\n', '\n105 g CO2/km (comb)\n']
['\n02/2020\n', '\n102 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan

09/2020

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['\n02/2020\n', '\n123 g CO2/km (comb)\n']
['\n03/2021\n', '\n123 g CO2/km (comb)\n']
nan
['\n04/2019\n', '\n123 g CO2/km (comb)\n']
nan
['\n09/2021\n', '\n102 g CO2/km (comb)\n']
nan
nan
nan
['\n06/2020\n', '\n', '4.9 l/100 km (comb)', '\n', '6.2 l/100 km (city)', '\n', '4.2 l/100 km (country)', '\n']
nan
['\n11/2020\n', '\n106 g CO2/km (comb)\n']
nan
nan
['\n06/2021\n', '\n112 g CO2/km (comb)\n']
nan
['\n07/2020\n', '\nEuro 6\n']
nan
['\n05/2019\n', '\n', '4.9 l/100 km (comb)', '\n', '6.2 l/100 km (city)', '\n', '4.2 l/100 km (country)', '\n']
['\n05/2021\n', '\n102 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
nan
nan
['\n07/2019\n', '\n102 g CO2/km (comb)\n']
['\n03/2020\n', '\n99 g CO2/km (comb)\n']
nan
['\n05/2021\n', '\n137 g CO2/km (comb)\n']
nan
['\n02/2020\n', '\n112 g CO2/km (comb)\n']
nan
['\n10/2020\n', '\n112 g CO2/km (comb)\n']
nan
['\n06/2021\n', '\n104 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['\n07/2020\n', '\n102 g CO2/km (comb)\n']
nan
nan
nan
['\n04/2021\n', '\n116 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
['\n02/2020\n', '\n99 g CO2/km (comb)\n']
nan
nan
nan
['\n06/2021\n', '\n123 g CO2/km (comb)\n']
nan
nan
['\n06/2020\n', '\n102 g CO2/km (comb)\n']
nan
nan
nan
['\n06/2020\n', '\n109 g CO2/km (comb)\n']
nan
nan
['\n02/2021\n', '\n112 g CO2/km (comb)\n']
nan
nan
nan
['\n04/2021\n', '\n', '5.2 l/100 km (comb)', '\n', '6.7 l/100 km (city)', '\n', '4.4 l/100 km (country)', '\n']
nan
nan
nan
nan
['\n09/2021\n', '\n97 g CO2/km (comb)\n']
nan
nan
nan
nan
nan
nan
nan
nan
nan
['\n06/2021\n', '\n109 g CO2/km (comb)\n']
nan
nan
['\n03/2021\n', '\n112 g CO2/km (comb)\n']
nan
nan
['\n01/2019\n', '\n102 g CO2/km (comb)\n']
nan
['\n06/2020\n', '\n106 g CO2/km (comb)\n']
nan

In [37]:
df["Next Inspection"][18][0][4:8]

''

In [38]:
df["Next Inspection"][0][0][4:8]

'2021'

In [39]:
for i in range(len(df["Next Inspection"])):
    try:
        if type(df["Next Inspection"][i]) == list:
            df["Next Inspection"][i] = df["Next Inspection"][i][0][4:8]
        else:
            df["Next Inspection"][i] = df["Next Inspection"][i][4:8]
    except:
        df["Next Inspection"][i] = df["Next Inspection"][i]

In [40]:
df["Next Inspection"].value_counts(dropna = False)
##nan değer seayısı çok olduğundan değerleri yok etmek ya da fill yöntemi ile doldurmak veri yanlış sonuçlar verebileceğinden doldurmadık..

NaN     12384
2021     1601
2020      694
2022      688
2019      438
2023       47
2018       38
2017       13
2016        6
2001        5
1999        1
2024        1
1921        1
2014        1
1955        1
Name: Next Inspection, dtype: int64

In [41]:
df[df["Next Inspection"] == "2018"]

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,Type,...,Fuel,Consumption,Emission Class,Comfort & Convenience,Entertainment & Media,Extras,Safety & Security,description,Gears,Country version
812,Audi A1,Sportback 1.0TFSI Klimaautom. MMi Radio Sitzh....,Compact,14430,VAT deductible,"13,990 km",03/2017,2 previous owners,70 kW,Used,...,"[\n, Regular/Benzine 91, \n]","[[4.2 l/100 km (comb)], [5 l/100 km (city)], [...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[MP3, On-board computer, Radio]","[Alloy wheels, Cab or rented Car, Catalytic Co...","[ABS, Central door lock, Daytime running light...","[\n, Technik & Sicherheit:, Nebelscheinwerfer,...",NaN,[\nGermany\n]
864,Audi A1,Sportback 1.4 TFSI design S-tronic/S-line,Compact,20790,VAT deductible,"15,870 km",10/2017,1 previous owner,92 kW,Used,...,"[\n, Super 95, \n]","[[5.1 l/100 km (comb)], [6.3 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...","[Alloy wheels, Cab or rented Car, Sport seats]","[ABS, Central door lock, Daytime running light...",[\nIhr Ansprechpartner ist Herr Daniel Voggena...,[\n7\n],[\nGermany\n]
1304,Audi A1,Sportback 1.0 TFSI ADMIRED+XENON+PDC+LM,Compact,15750,VAT deductible,"46,146 km",06/2017,1 previous owner,70 kW,Used,...,"[\n, Regular/Benzine 91, \n]","[[4.4 l/100 km (comb)], [5.2 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Cab or rented Car, Catalytic Co...","[ABS, Central door lock, Daytime running light...","[\n, Technik & Sicherheit:, Airbag Fahrer-/Bei...",NaN,NaN
1881,Audi A1,"Sportback 1,0TFSI media-Paket/SHZ/PDC",Compact,16490,VAT deductible,"15,870 km",01/2018,1 previous owner,70 kW,Used,...,"[\n, Super 95, \n]","[[4.4 l/100 km (comb)], [5.2 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...",[Alloy wheels],"[ABS, Central door lock with remote control, D...","[\n, Ihr Ansprechpartner ist Herr Klaus Palesc...",[\n5\n],[\nGermany\n]
2625,Audi A3,design edition 1.6 TDI S tronic Sportb,Sedans,17490,None,"22,978 km",02/2017,None,82 kW,Used,...,"[\n, Diesel, \n]","[[3.9 l/100 km (comb)], [4.4 l/100 km (city)],...",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],NaN,[\nClicars | El 95% de Nuestros Clientes nos V...,[\n7\n],NaN
2752,Audi A3,2.0 TDI S tronic S line Sportback Xenon Navi,Sedans,17900,None,"89,325 km",03/2016,2 previous owners,110 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]","[[4.6 l/100 km (comb)], [5.4 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...","[Alloy wheels, Roof rack, Sport package, Sport...","[ABS, Adaptive headlights, Alarm system, Centr...","[\n, Audi A 3 2.0 TDi 110 KW 150 PS, 2. Hand, ...",NaN,NaN
2802,Audi A3,design edition 1.6 TDI S tronic Sportb,Sedans,17490,None,"22,978 km",02/2017,None,82 kW,Used,...,"[\n, Diesel, \n]","[[3.9 l/100 km (comb)], [4.4 l/100 km (city)],...",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],NaN,[\nClicars | El 95% de Nuestros Clientes nos V...,[\n7\n],NaN
2803,Audi A3,design edition 1.6 TDI S tronic Sportb,Sedans,17490,None,"22,978 km",02/2017,None,82 kW,Used,...,"[\n, Diesel, \n]","[[3.9 l/100 km (comb)], [4.4 l/100 km (city)],...",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],NaN,[\nClicars | El 95% de Nuestros Clientes nos V...,[\n7\n],NaN
2948,Audi A3,SPB 1.6 TDI S tronic Sport,Sedans,15890,VAT deductible,"150,000 km",11/2016,None,81 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, On-boar...","[Alloy wheels, Catalytic Converter, Shift padd...","[ABS, Alarm system, Central door lock, Central...","[\nAutovettura tenuta in maniera maniacale , k...",[\n7\n],NaN
2966,Audi A3,Sportback 1.6 TDI 110 Business Line S tronic 7,Sedans,14490,None,"120,000 km",01/2016,None,81 kW,Used,...,"[\n, Diesel, \n]","[[3.9 l/100 km (comb)], [4.4 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]","[Alloy wheels, Sport seats]","[ABS, Central door lock with remote control, D...",[\nAudi A3 SportBack 1.6 TDI 110 Business Line...,[\n7\n],NaN
6649,Opel Astra,K Sports Tourer Dynamic S/S NAVI RF 900 AT,Station wagon,16980,VAT deductible,"24,638 km",08/2018,1 previous owner,100 kW,Employee's car,...,"[\n, Diesel (Particulate Filter), \n]","[[4.5 l/100 km (comb)], [5.7 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Roof rack, Touch screen, Voice ...","[ABS, Central door lock, Daytime running light...","[\n, Sonderausstattung:, Allwetter-/ Ganzjahre...",NaN,[\nGermany\n]
6748,Opel Astra,K 5türig Edition 1.6 CDTI,Sedans,12945,VAT deductible,"15,250 km",10/2017,1 previous owner,70 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]","[[3.6 l/100 km (comb)], [4.2 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Cruise control, El...","[Bluetooth, Hands-free equipment, MP3, On-boar...",NaN,"[ABS, Central door lock, Daytime running light...","[\n, Getriebe:, Schaltgetriebe, Technik:, Bo...",[\n6\n],NaN
6821,Opel Astra,1.0 Turbo S/S Selective,Other,12900,None,"15,900 km",03/2018,None,77 kW,Used,...,"[\n, Gasoline, \n]",NaN,NaN,NaN,NaN,NaN,NaN,[\n-CONCESIONARIOS OFICIALES CITROËN Y OPEL CO...,[\n5\n],NaN
7252,Opel Astra,1.6 CDTi 110 CV Dynamic,Other,14990,None,"8,821 km",09/2018,1 previous owner,81 kW,Used,...,"[\n, Diesel, \n]","[[3.7 l/100 km (comb)], [4.2 l/100 km (city)],...",[\nEuro 6\n],NaN,NaN,NaN,NaN,[],[\n6\n],NaN
7269,Opel Astra,K 1.4 Turbo 125 PS PDC Navi Sitzhzg. uvm.,Sedans,15450,VAT deductible,"13,500 km",01/2018,1 previous owner,92 kW,Used,...,"[\n, Super 95, \n]","[[5.1 l/100 km (comb)], [6.3 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Touch screen, Voice Control]","[ABS, Central door lock, Daytime running light...","[\nUnfallfrei, Euro6, Apple CarPlay, Android A...",NaN,NaN
7347,Opel Astra,1.6 CDTi 81kW (110CV) Dynamic,Other,15190,None,"17,185 km",06/2018,None,81 kW,Used,...,"[\n, Diesel, \n]",NaN,NaN,NaN,NaN,NaN,NaN,[\nFERTA FINANCIACIÓN 15.190€\n],[\n6\n],NaN
7381,Opel Astra,K 1.0 Edition Start/Stop +SITZHEIZUNG+,Sedans,14940,VAT deductible,"17,980 km",08/2018,1 previous owner,77 kW,Employee's car,...,"[\n, Super E10 95, \n]","[[4.5 l/100 km (comb)], [5.4 l/100 km (city)],...",[\nEuro 6d-TEMP\n],"[Air conditioning, Cruise control, Electrical ...","[Bluetooth, Hands-free equipment, MP3, On-boar...",[Touch screen],"[ABS, Central door lock, Daytime running light...","[\n, Sonderausstattung, , , Allwetter-/ Ganz...",[\n5\n],NaN
7399,Opel Astra,1.6 CDTi 110 CV Selective,Other,14990,None,"5,551 km",12/2018,1 previous owner,81 kW,Used,...,"[\n, Diesel, \n]","[[3.7 l/100 km (comb)], [4.2 l/100 km (city)],...",[\nEuro 6\n],NaN,NaN,NaN,NaN,[],[\n6\n],NaN
7449,Opel Astra,1.6 CDTi 110 CV Dynamic,Other,14890,None,"9,000 km",10/2018,None,81 kW,Used,...,"[\n, Diesel, \n]",NaN,NaN,NaN,NaN,NaN,NaN,[\nCONCESIONARIO OFICIAL OPEL DISO HUELVA.\n],[\n6\n],NaN
7450,Opel Astra,1.6 CDTi 110 CV Dynamic,Other,14890,None,"9,500 km",10/2018,None,81 kW,Used,...,"[\n, Diesel, \n]",NaN,NaN,NaN,NaN,NaN,NaN,[\nCONCESIONARIO OFICIAL OPEL DISO HUELVA.\n],[\n6\n],NaN
7451,Opel Astra,1.6 CDTi 110 CV Dynamic,Other,14890,None,"7,200 km",10/2018,None,81 kW,Used,...,"[\n, Diesel, \n]",NaN,NaN,NaN,NaN,NaN,NaN,[\nCONCESIONARIO OFICIAL OPEL DISO HUELVA.\n],[\n6\n],NaN
7543,Opel Astra,1.6 CDTi 81kW (110CV) Selective,Other,13900,None,"4,800 km",10/2018,None,81 kW,Used,...,"[\n, Diesel, \n]",NaN,NaN,NaN,NaN,NaN,NaN,[\nCONCESIONARIO OFICIAL OPEL DISO HUELVA.\n],[\n6\n],NaN
8664,Opel Corsa,1.2 Selection*Klima*Allwetter*Radio*,Compact,7490,None,"42,374 km",04/2016,2 previous owners,51 kW,Used,...,"[\n, Super 95, \n]","[[5.6 l/100 km (comb)], [7.3 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Electrical side mirrors, Hi...","[MP3, On-board computer, Radio, Sound system]",NaN,"[ABS, Central door lock, Daytime running light...","[\n, Paket: Cool & Sound - Klimaanlage - Infot...",NaN,[\nGermany\n]
9325,Opel Corsa,1.4 5 Jahresgarantie 3 Inspektionen,Compact,13990,VAT deductible,"5,310 km",10/2018,1 previous owner,66 kW,Used,...,"[\n, Super 95 / Regular/Benzine 91, \n]",NaN,[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...","[\nIhre Ansprechpartner für dieses KFZ:, , ,...",[\n6\n],[\nGermany\n]
9540,Opel Corsa,E Selection | Cool & Sound-Paket,Compact,9790,VAT deductible,50 km,11/2018,1 previous owner,51 kW,Pre-registered,...,"[\n, Super 95, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\nEuro 6d-TEMP\n],"[Air conditioning, Electrical side mirrors, Hi...",[Radio],NaN,"[ABS, Central door lock, Daytime running light...","[\n, E10 geeignet, Interieurfarbe Schwarz, Int...",NaN,[\nGermany\n]
10862,Opel Insignia,"A 1,6 CDTI Sports Tou NAVI,AppleCarplay",Station wagon,11490,VAT deductible,"89,200 km",09/2016,1 previous owner,100 kW,Used,...,"[\n, Diesel, \n]","[[5.1 l/100 km (comb)], [], []]",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...","[Roof rack, Touch screen]","[ABS, Central door lock, Daytime running light...","[\n, Sonderausstattung:, NAVI,PDC, AppleCarpla...",NaN,[\nGermany\n]
11330,Opel Insignia,2.0 CDTI AT Innov. *Matrix-LED*Kamera*,Sedans,20990,VAT deductible,"29,800 km",10/2017,1 previous owner,125 kW,Used,...,"[\n, Diesel, \n]",NaN,"[[], [], []]","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, USB]",[Alloy wheels],"[ABS, Adaptive headlights, Central door lock, ...","[\n, Fahrtauglich, Unfallfrei, Herstellergaran...",NaN,[\nGermany\n]
11436,Opel Insignia,1.6 CDTI AT GS Inno *Matrix*Navi*Kamera*,Sedans,19670,VAT deductible,"19,500 km",12/2017,1 previous owner,100 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, USB]",[Alloy wheels],"[ABS, Adaptive headlights, Central door lock, ...","[\n, Fahrtauglich, Unfallfrei, Herstellergaran...",[\n6\n],[\nGermany\n]
11445,Opel Insignia,"Grand Sport Edition 1.6 CDTI, Navi, Klimaaut, ...",Sedans,19490,VAT deductible,"30,339 km",07/2017,1 previous owner,100 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]","[[5.1 l/100 km (comb)], [6.1 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, On-boar...","[Alloy wheels, Catalytic Converter]","[ABS, Central door lock, Daytime running light...","[\n, Getriebe:, Automatik, Technik:, Bordcom...",[\n6\n],NaN
11517,Opel Insignia,1.6 CDTI AT Innov. *Matrix*Navi*Kamera*,Sedans,18890,VAT deductible,"24,800 km",11/2017,1 previous owner,100 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, On-boar...",NaN,"[ABS, Adaptive headlights, Central door lock, ...","[\n, Fahrtauglich, Unfallfrei, Herstellergaran...",[\n6\n],[\nGermany\n]
11518,Opel Insignia,1.6 CDTI AT Innov. *Matrix*Navi*Kamera*,Sedans,18890,VAT deductible,"26,100 km",11/2017,1 previous owner,100 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, On-boar...",[Alloy wheels],"[ABS, Adaptive headlights, Central door lock, ...","[\n, Fahrtauglich, Unfallfrei, Herstellergaran...",[\n6\n],[\nGermany\n]
11734,Opel Insignia,"ST.2,0l Innovation Navi Kamera elektr.Heckklappe",Station wagon,17980,VAT deductible,"22,321 km",03/2017,1 previous owner,125 kW,Used,...,"[\n, Diesel (Particulate Filter), \n]","[[4.5 l/100 km (comb)], [5.7 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Catalytic Converter, Roof rack]","[ABS, Adaptive headlights, Blind spot monitor,...","[\n, Getriebe:, Schaltgetriebe, Technik:, Bo...",[\n6\n],NaN
12051,Opel Insignia,Sports Tourer Dynamic NAVI LED SH AT,Station wagon,22540,VAT deductible,"25,074 km",07/2018,1 previous owner,125 kW,Employee's car,...,"[\n, Diesel (Particulate Filter), \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Ski bag, Sport seats, Touch scr...","[ABS, Adaptive headlights, Central door lock, ...","[\n, Sonderausstattung:, Innovations-Paket 1, ...",NaN,[\nGermany\n]
12079,Opel Insignia,B Sports Tourer Innovati NAVI RF 900 AT,Station wagon,22450,VAT deductible,"33,970 km",07/2018,1 previous owner,125 kW,Employee's car,...,"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Shift paddles, Ski bag, Sport s...","[ABS, Adaptive headlights, Alarm system, Centr...","[\n, Sonderausstattung:, Ergonomiesitz vorn re...",NaN,[\nGermany\n]
12084,Opel Insignia,A Sports Tourer Innovat NAVI RF 900 AT,Station wagon,22450,VAT deductible,"31,031 km",07/2018,1 previous owner,125 kW,Employee's car,...,"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Shift paddles, Ski bag, Sport s...","[ABS, Adaptive headlights, Alarm system, Centr...","[\n, Sonderausstattung:, Ergonomiesitz vorn re...",NaN,[\nGermany\n]
12319,Opel Insignia,ST 1.6 CDTi 100kW ecoTEC D Selective,Station wagon,19990,None,"1,501 km",10/2018,1 previous owner,100 kW,Used,...,"[\n, Diesel, \n]","[[4.5 l/100 km (comb)], [5.3 l/100 km (city)],...",[\nEuro 6\n],NaN,NaN,NaN,NaN,[],[\n6\n],NaN
12321,Opel Insignia,1.6 CDTi 100kW ecoTEC D Selective,Other,19800,None,"22,500 km",07/2018,1 previous owner,100 kW,Used,...,"[\n, Diesel, \n]","[[4.5 l/100 km (comb)], [5.3 l/100 km (city)],...",[\nEuro 6\n],NaN,NaN,NaN,NaN,[],[\n6\n],NaN
13732,Renault Clio,Business 1.2,Station wagon,6900,VAT deductible,"105,000 km",09/2019,None,54 kW,Used,...,"[\n, Gasoline, \n]","[[5.5 l/100 km (comb)], [7 l/100 km (city)], [...",[\nEuro 6\n],"[Cruise control, Electrical side mirrors, Powe...",[On-board computer],[Roof rack],"[ABS, Central door lock, Driver-side airbag, E...","[\n🇬🇧 Equipement:, PETROL - Manual, • LED dayl...",[\n5\n],NaN

**gearing type sütünu**

In [42]:
df["Gearing Type"].value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [43]:
for i in range(len(df["Gearing Type"])):
    df["Gearing Type"][i] = df["Gearing Type"][i][1]

In [44]:
df["Gearing Type"].value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

In [45]:
###garing type sütünu başarı ile temizlendi...

**make ve model sütünları**

In [46]:
df.Make.value_counts(dropna = False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [47]:
df.Make = df.Make.str.replace("\n", "")

In [48]:
df.Make.value_counts(dropna = False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [49]:
df.Model.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [50]:
df.Model[0][1]

'A1'

In [51]:
def liste_temizle(seri):
    for i in range(len(seri)):
        seri[i] = seri[i][1]

In [52]:
liste_temizle(df.Model)

In [53]:
df.Model.value_counts(dropna = False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [54]:
##make ve mdeol sütünları başarı ile temizlendi

**Displacement**

In [55]:
df.Displacement.isnull().sum()

496

In [56]:
df.Displacement.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n1,800 cc\n]       1
[\n1,686 cc\n]       1
[\n1,369 cc\n]       1
[\n140 cc\n]         1
[\n1,584 cc\n]       1
Name: Displacement, Length: 78, dtype: int64

In [57]:
df.Displacement.isnull().sum()

496

In [58]:
df.Displacement[1500][0]

'\n999 cc\n'

In [59]:
for i in range(len(df.Displacement)):
    if type(df.Displacement[i]) == list:
        df.Displacement[i] = df.Displacement[i][0]

In [60]:
df.Displacement.value_counts()

\n1,598 cc\n    4761
\n999 cc\n      2438
\n1,398 cc\n    1314
\n1,399 cc\n     749
\n1,229 cc\n     677
                ...
\n1,584 cc\n       1
\n1,686 cc\n       1
\n1,533 cc\n       1
\n1,100 cc\n       1
\n1,995 cc\n       1
Name: Displacement, Length: 77, dtype: int64

In [61]:
df.Displacement = df.Displacement.str.replace("\n","")

In [62]:
df.Displacement = df.Displacement.str.replace(",","")

In [63]:
df.Displacement = df.Displacement.str.replace("cc", "")

In [64]:
df.Displacement.fillna(method = "bfill", inplace = True)

In [65]:
df.Displacement.value_counts(dropna = False)

1598      4922
999       2485
1398      1346
1399       763
1229       708
          ...
1496         1
2967         1
1696         1
15898        1
1198         1
Name: Displacement, Length: 77, dtype: int64

In [66]:
len(df.Displacement.unique())

77

In [67]:
##displacment sütünü temizlendi

**number of doors and number of seat**

In [68]:
df["Nr. of Doors"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [69]:
for i in range(len(df["Nr. of Doors"])):
    if type(df["Nr. of Doors"][i]) == list:
        df["Nr. of Doors"][i] = df["Nr. of Doors"][i][0]

In [70]:
df["Nr. of Doors"] = df["Nr. of Doors"].str.replace("\n","")

In [71]:
df["Nr. of Doors"].value_counts(dropna = False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr. of Doors, dtype: int64

In [72]:
df["Nr. of Seats"].value_counts(dropna = False )

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [73]:
for i in range(len(df["Nr. of Seats"])):
    if type(df["Nr. of Seats"][i]) == list:
        df["Nr. of Seats"][i] = df["Nr. of Seats"][i][0]

In [74]:
df["Nr. of Seats"] = df["Nr. of Seats"].str.replace("\n","")

In [75]:
df["Nr. of Seats"].value_counts(dropna = False )

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr. of Seats, dtype: int64

In [76]:
###number of seats and nuber of doors stünülar had been cleaned..

**Fuel**

In [77]:
df.Fuel.value_counts(dropna = False )

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                           1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                   1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                         1
Name: Fuel, Length: 77, dtype: int64

In [78]:
df.Fuel[0][1]

'Diesel (Particulate Filter)'

In [79]:
liste_temizle(df.Fuel)

In [80]:
df.Fuel = df.Fuel.str.split(" ")

In [81]:
df.Fuel.value_counts(dropna = False )

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Diesel, (Particulate, Filter)]                                                                                                     4315
[Super, 95]                                                                                                                         3338
[Gasoline]                                                                                                                          3175
[Diesel]                                                                                                                            2984
[Super, 95, /, Regular/Benzine, 91]                                                                                                  424
                                                                                                                                    ...
[Super, 95, /, Regular/Benzine, 91, /, Super, Plus, 98, /, Regular/Benzine, E10, 91, /, Super, Plus, E10, 98, /, Super, E10, 95]       1
[Regular/Benzine, 91, /, Super, Plus, 98, /, Regular/Benzine, E10, 91, /, Super, 95, /, Super, E10, 95, /, Super, Plus, E10, 98]       1
[Regular/Benzine, 91, /, Super, 95, /, Super, E10, 95, /, Regular/Benzine, E10, 91]                                                    1
[Regular/Benzine, 91, /, Super, 95, /, Super, Plus, 98]                                                                                1
[Super, 95, /, Super, E10, 95, /, Super, Plus, 98]                                                                                     1
Name: Fuel, Length: 77, dtype: int64

In [82]:
for i in range(len(df.Fuel)):
    df.Fuel[i] = df.Fuel[i][0]

In [83]:
df.Fuel.value_counts(dropna = False )

Diesel               7299
Super                4790
Gasoline             3252
Regular/Benzine       503
CNG                    36
LPG                    16
Liquid                 10
Others                  6
Electric/Gasoline       4
Biogas                  1
Domestic                1
Electric                1
Name: Fuel, dtype: int64

In [84]:
####Fuel sütünu temizlendi.

**km sütünu**

In [85]:
df.km.head()

0    56,013 km
1    80,000 km
2    83,450 km
3    73,000 km
4    16,200 km
Name: km, dtype: object

In [86]:
df["km"] = df["km"].str.replace("km","")

In [87]:
df["km"] = df["km"].str.replace(",","")

In [88]:
df.km.head()

0    56013
1    80000
2    83450
3    73000
4    16200
Name: km, dtype: object

In [89]:
df["km"][743]

'- '

In [90]:
df["km"] = df["km"].str.replace("-", "10000")

In [91]:
df["km"] = pd.to_numeric(df["km"])

In [92]:
df["km"].head()

0    56013
1    80000
2    83450
3    73000
4    16200
Name: km, dtype: int64

**extras**

In [93]:
#type(df.Extras[1])

In [94]:
#df.Extras.head()

In [95]:
#df["extras"] = df.Extras.str.split(",")

In [96]:
#df.extras.head()

In [97]:
#type(df.extras[0])

In [98]:
#count = 0
#nan = 0

In [99]:
#for i in range(len(df.extras)):
    #if type(df.extras[i]) == list:
        #for j in df.extras[i]:
            #if j == "['Alloy wheels'":
                #count += 1
    #else:
        #nan += 1
#print(count)
#print(nan)

In [100]:
#count+nan

In [101]:
#df.extras.isnull().sum()

**registration**

In [102]:
df.registration.head()

0    01/2016
1    03/2017
2    02/2016
3    08/2016
4    05/2016
Name: registration, dtype: object

In [103]:
df.registration.unique()#### -/- olam yaklaşık 1500 satır var..

array(['01/2016', '03/2017', '02/2016', '08/2016', '05/2016', '03/2016',
       '06/2017', '05/2018', '09/2016', '06/2016', '10/2016', '04/2016',
       '06/2018', '11/2017', '07/2016', '12/2016', '09/2018', '04/2018',
       '07/2017', '02/2017', '11/2016', '01/2018', '05/2017', '04/2017',
       '07/2018', '01/2017', '02/2018', '03/2018', '-/-', '08/2017',
       '10/2017', '08/2018', '09/2017', '12/2017', '04/2019', '12/2018',
       '03/2019', '06/2019', '05/2019', '02/2019', '01/2019', '10/2018',
       '11/2018', '09/2019', '07/2019', '08/2019', '11/2019', '12/2019'],
      dtype=object)

In [104]:
df.registration[1202][3:]

'2017'

In [105]:
for i in range(len(df.registration)):
    df.registration[i] = df.registration[i][3:]

In [106]:
df.registration.unique()

array(['2016', '2017', '2018', '', '2019'], dtype=object)

In [107]:
df.registration.value_counts()

2018    4522
2016    3674
2017    3273
2019    2853
        1597
Name: registration, dtype: int64

In [108]:
df.registration.replace("",np.nan, inplace = True)

In [109]:
#f_copy.registration.value_counts(dropna = False)

In [110]:
df.registration.fillna("2018",limit = 399, inplace = True)

In [111]:
df.registration.fillna("2016",limit = 399, inplace = True)

In [112]:
df.registration.fillna("2017",limit = 399, inplace = True)

In [113]:
df.registration.fillna("2019",limit = 400, inplace = True)

In [114]:
df.registration.value_counts(dropna = False)

2018    4921
2016    4073
2017    3672
2019    3253
Name: registration, dtype: int64

In [115]:
###1597 nan değer orantılı şekile 4 değere dağıtıldı...

In [116]:
df.registration = df.registration.astype("int")

In [117]:
df.registration.dtype

dtype('int32')

In [118]:
###regestiration sütünu temizlendi..

**hp**

In [119]:
df.hp.head()

0     66 kW
1    141 kW
2     85 kW
3     66 kW
4     66 kW
Name: hp, dtype: object

In [120]:
df.hp.isna().sum()

0

In [121]:
df.hp = df.hp.str.replace("kW", "")

In [122]:
df.hp.head()

0     66
1    141
2     85
3     66
4     66
Name: hp, dtype: object

In [123]:
df.hp.unique()

array(['66 ', '141 ', '85 ', '70 ', '92 ', '112 ', '60 ', '71 ', '67 ',
       '110 ', '93 ', '147 ', '86 ', '140 ', '87 ', '- ', '81 ', '82 ',
       '135 ', '132 ', '100 ', '96 ', '162 ', '150 ', '294 ', '228 ',
       '270 ', '137 ', '9 ', '133 ', '77 ', '101 ', '78 ', '103 ', '1 ',
       '74 ', '118 ', '84 ', '88 ', '80 ', '76 ', '149 ', '44 ', '51 ',
       '55 ', '52 ', '63 ', '40 ', '65 ', '75 ', '125 ', '120 ', '184 ',
       '239 ', '121 ', '143 ', '191 ', '89 ', '195 ', '127 ', '122 ',
       '154 ', '155 ', '104 ', '123 ', '146 ', '90 ', '53 ', '54 ', '56 ',
       '164 ', '4 ', '163 ', '57 ', '119 ', '165 ', '117 ', '115 ', '98 ',
       '168 ', '167 '], dtype=object)

In [124]:
df.hp = df.hp.str.strip()

In [125]:
len(df.hp[df["hp"] == "-"])

88

In [126]:
##88 satırda düzeltme işlemi yapmamız lazım..

In [127]:
df.Displacement[df["hp"] == "-"]

1269      999
2500      999
4259     1598
7177     1399
7670     1398
         ...
15641    1598
15647    1598
15684    1598
15791    1798
15906    1798
Name: Displacement, Length: 88, dtype: object

In [128]:
###bu sütün bir kaç farklı yöntemle tamamlanabilir. displacment sütünu ile aralarındaki ilişki bulunup tahmini değerlerle doldurulabilir. 
##ama eksik değerleimizin sayısı çok az olduğundan na değerlerle başa çıkma yöntemleri ile dolduracağız..

In [129]:
df.hp = df.hp.replace("-", np.nan )

In [130]:
df.hp.isna().sum()

88

In [131]:
df.hp.fillna(method = "bfill", inplace = True)

In [132]:
df.hp.isna().sum()

0

In [133]:
df.hp = pd.to_numeric(df["hp"])

In [134]:
df.hp.value_counts(dropna = False)

85     2544
66     2131
81     1402
100    1311
110    1114
       ...
4         1
44        1
84        1
132       1
239       1
Name: hp, Length: 80, dtype: int64

In [135]:
df.hp.isna().sum()

0

In [136]:
####hp sütünu başarı ile temizlendi..

**Consumption**

In [137]:
df.Consumption[1][0]
##combo değerini istiyoruz..

['5.6 l/100 km (comb)']

In [138]:
df.Consumption.isna().sum()

1906

In [139]:
df.fillna(method = "ffill", inplace = True)

In [140]:
df.Consumption.isna().sum()

0

In [141]:
for i in range(len(df.Consumption)):
    df.Consumption[i] = df.Consumption[i][0]

In [142]:
df.Consumption = df.Consumption.astype("str")

In [143]:
df.Consumption[1]

"['5.6 l/100 km (comb)']"

In [144]:
df.Consumption = df.Consumption.str.replace("[' 1/100 km (comb)']", "" )

In [145]:
df.Consumption[1]

'[5.6l]'

In [146]:
df.Consumption = df.Consumption.str.replace("[l]", "" )

In [147]:
df.Consumption[1]

'[5.6]'

In [148]:
df.Consumption = df.Consumption.str.replace("[", "" )

In [149]:
df.Consumption[1]

'5.6]'

In [150]:
df.Consumption = df.Consumption.str.replace("]", "" )

In [151]:
df.Consumption[1]

'5.6'

In [152]:
df.Consumption.unique()

array(['3.8', '5.6', '4.', '3.5', '3.7', '4', '4.9', '4.2', '4.5', '4.4',
       '4.3', '3', '3.6', '3.4', '\n', '3.9', '5.', '5.2', '4.6', '4.8',
       '5.8', '4.7', '5', '43', '', '6', '5.9', '5.3', '5.3g', '5.5',
       '3.4g', '3.3g', '3.2', '3.5g', '6.6', '3.3', '8.3', '6.5', '7.',
       '8.', '5.4g', '38', '6.4', '8.3g', '5.g', '5.4', '6.7', '6.2',
       '7.3', '6.3', '5.7', '6.', '6.8', '7.5', '7.4', '3.6g', '7.8',
       '3.', '6.9', '7', '7.2', '8', '9.', '8.6', '8.7', '7.9', '55',
       '54', '.2', '32', '33', '46', '7.6'], dtype=object)

In [153]:
df.Consumption = df.Consumption.str.replace("g", "" )

In [154]:
df.Consumption.unique()

array(['3.8', '5.6', '4.', '3.5', '3.7', '4', '4.9', '4.2', '4.5', '4.4',
       '4.3', '3', '3.6', '3.4', '\n', '3.9', '5.', '5.2', '4.6', '4.8',
       '5.8', '4.7', '5', '43', '', '6', '5.9', '5.3', '5.5', '3.3',
       '3.2', '6.6', '8.3', '6.5', '7.', '8.', '5.4', '38', '6.4', '6.7',
       '6.2', '7.3', '6.3', '5.7', '6.', '6.8', '7.5', '7.4', '7.8', '3.',
       '6.9', '7', '7.2', '8', '9.', '8.6', '8.7', '7.9', '55', '54',
       '.2', '32', '33', '46', '7.6'], dtype=object)

In [155]:
df.Consumption = df.Consumption.replace("\n", np.nan )

In [156]:
df.Consumption.isna().sum()

960

In [166]:
df.fillna(method = "ffill", inplace = True)

In [167]:
df.Consumption.isna().sum()

0

In [168]:
df.Consumption = pd.to_numeric(df["Consumption"])

In [169]:
df.fillna(method = "ffill", inplace = True)

In [170]:
df.head()

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,Type,...,Fuel,Consumption,Emission Class,Comfort & Convenience,Entertainment & Media,Extras,Safety & Security,description,Gears,Country version
0,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013,2016,2 previous owners,66,Used,...,Diesel,3.8,[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN
1,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,80000,2017,2 previous owners,141,Used,...,Gasoline,5.6,[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n7\n],NaN
2,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,83450,2016,1 previous owner,85,Used,...,Diesel,3.8,[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n7\n],NaN
3,Audi A1,1.4 TDi Design S tronic,Sedans,14500,VAT deductible,73000,2016,1 previous owner,66,Used,...,Diesel,3.8,[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",[\n6\n],NaN
4,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,VAT deductible,16200,2016,1 previous owner,66,Used,...,Diesel,4.0,[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",[\n6\n],[\nGermany\n]

In [171]:
#df = pd.read_csv("scout_copy.csv", index_col = 0 )

In [172]:
#df.to_csv("scout_copy.csv")

In [173]:
df['Previous Owners']

KeyError: 'Previous Owners'